@font-face 
{
    font-family: BebasNeueBold;
    src: url(../fonts/BebasNeueBold.otf);
}

/* style reset */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
  list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
/*-------------*/

body
{
  font-family: BebasNeueBold;
  cursor: default;
}

.mainPage
{
  position: relative;
  padding-bottom: 100px;
}

.background
{
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  border: 0;
  z-index: -1;
  position: fixed;
}

.nav
{
  background-color: rgba(255, 255, 255, 0.5);
  height: 65px;
  width: 100%;
  z-index: 2;
  position: relative;
}

#topNav
{
  position: fixed;
  top: 0;
  left: 0;
}

#bottomNav
{
  position: absolute;
  bottom: 0;
  left: 0;
}

.logo
{
  position: absolute;
  display: block;
  left: calc(50% - 97.5px);
}

.transparentLayer
{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.contactsFAQ
{
  position: fixed;
  right: 0;
  margin-right: -17px;
  top: 85px;
  width: 27%;
  height: 70%;
  padding: 20px 50px;
  color: #FFF;
  font-size: 2em;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  overflow-x: hidden;
  z-index: 6;
  display: none;
}

#contactHeader
{
  text-align: center;
  padding-bottom: 10px;
}

#answer
{
  color: rgba(242, 179, 49, 1);
  padding-bottom: 20px;
}

.button
{
  text-align: center;
  float: right;
  color: #000;
  transition: all 0.3s;
  line-height: 65px;
  font-size: 2em;
  padding: 0 40px;
}

.button:hover
{
  background-color: rgba(67, 72, 76, 0.6);
  color: #FFF;
}

#langButton, #currencyButton
{
  float: left;
  padding: 0 25px;
  position: relative;
  list-style-type: none;
}

#langButton ul, #currencyButton ul
{
  display: none;
  position: absolute;
  top: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  left: 0;
  color: #000;
  text-align: center;
  transition: all 0.3s;
}

#langButton:hover ul, #currencyButton:hover ul
{
  display: block;
}


#langButton li:hover, #currencyButton li:hover
{
  background-color: rgba(67, 72, 76, 0.6);
  color: #000;
  transition: all 0.3s;
}

.mainBlock
{
  width: 1000px;
  margin: 0 auto;
  padding-top: 65px;
}

.ow
{
  width: 700px;
  margin: 0 auto;
  display: block;
}

.rankBoost, .placements, .antiDecay
{
  font-family: BebasNeueBold;
  font-size: 8em;
  text-align: center;
  line-height: 150px;
  color: #FFFACD;
  margin-top: -30px;

  text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.board
{
  width: 650px;
  height: 410px;
  margin: 0 auto;
  margin-top: 20px;
  background: url(img/doska.png) no-repeat;
  background-size: cover;
  position: relative;
}

.orderBoard, .submitBoard, .antiDecayBoard, .placementsBoard, #placements, #antiDecay
{
  display: none;
}

.rankText
{
  font-size: 1.8em;
  color: #FFF;
  position: absolute;
  top: 45px;
  text-shadow: 0 0 5px #000;
}

#rankText1
{
  left: 65px;
}

#rankText2
{
  right: 65px;
}

.rankImg
{
  position: absolute;
  height: 130px;
  width: 150px;
  top: 100px;
}

.rankImg img
{
  position: absolute;
  width: 130px;
  display: block;
}

.rankImg1
{
  left: 70px;
}

.rankImg2
{
  right: 70px;
}

.rankImgLeft
{
  left: -10px;
}

.rankImgRight
{
  right: -10px;
}

.triangleUp
{
  position: absolute;
  font-size: 3em;
  color: #FFF;
}

.triangleUp:hover
{
  color: #DDD;
}

.triangleUp:active
{
  color: #999;
}

.triangleDown
{
  position: absolute;
  font-size: 3em;
  color: #FFF;
}

.triangleDown:hover
{
  color: #DDD;
}

.triangleDown:active
{
  color: #999;
}

#leftUp
{
  right: 3px;
  top: 10px;
}

#rightUp
{
  left: 3px;
  top: 10px;
}

#leftDown
{
  right: 3px;
  bottom: 20px;
}

#rightDown
{
  left: 3px;
  bottom: 20px;
}

.inpRank
{
  position: absolute;
  bottom: 120px;
  font-size: 2em;
  text-align: center;
  width: 95px;
}

#curSR
{
  left: 75px;
}

#disSR
{
  right: 75px;
}

.divSoloDuo
{
  position: absolute;
  left: calc(50% - 60px);
  top: 135px;

}

#soloDuo
{
  display: none;
}

[for="soloDuo"]
{
  position: relative;
  display: block;
  width: 90px;
  height: 10px;
  padding: 15px;
  border-radius: 50px;
  line-height: 11px;
  color: #F99E1A;
  font-size: 1.3em;
  text-shadow: 1px 1px 0px rgba(255,255,255,.15);
  background: rgb(71, 71, 71);
  box-shadow:
       0 1px 0 rgba(255,255,255,.2),
       inset 0 0 0 5px rgb(60, 60, 60),
       inset 0 6px 6px rgba(0,0,0,.5),
       inset 0 -6px 1px rgba(255,255,255,.2);
  cursor: pointer;
}

[for="soloDuo"]:before
{
  content: "SOLO";
  color: #31b3ff;
  position: absolute;
  right: 15px;
}

[for="soloDuo"]:after
{
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  display: block;
  width: 55px;
  height: 30px;
  border-radius: 50px;
  background: #ccc linear-gradient(#fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  transition: 0.5s;
}

#soloDuo:checked ~ [for="soloDuo"]:after
{
  left: 60px;
}

.price
{
  position: absolute;
  font-size: 4em;
  text-align: center;
  color: #FFF;
  bottom: 130px;
  left: 220px;
  width: 210px;
}

.formButton
{
  font-family: BebasNeueBold;
  position: absolute;
  text-align: center;
  display: inline-block;
  color: #FFF;
  outline: none;
  background: #BA802F;
  transition: all 0.2s;
}

.formButton:hover
{
  background: #72522C;
}

.formButton:active
{
  background: #72522C;
}

#rankOrderButton, #purchaseButton, #submitButton, #antiDecayOrderButton, #placementsOrderButton
{
  font-size: 2.5em;
  bottom: 40px;
  left: 225px;
  height: 60px;
  line-height: 60px;
  width: 200px;
}

#submitButton
{
  border-style: none;
}

#backButton1, #backButton2
{
  font-size: 1.5em;
  bottom: 50px;
  left: 40px;
  height: 30px;
  line-height: 30px;
  width: 100px;
  padding-bottom: 5px;
}

.orderText
{
  position: absolute;
  font-size: 1.8em;
  color: #FFF;
  top: 40px;
  text-align: center;
  text-shadow: 0 0 5px #000;
  width: 600px;
  left: 25px;
}

#orderText2
{
  top: 40px;
}

#orderText3
{
  top: 115px;
}

#orderText4
{
  top: 195px;
}

.formHeader
{
  position: absolute;
  font-size: 1.8em;
  color: #FFF;
  text-align: center;
  left: 60px;
  text-shadow: 0 0 5px #000;
}

#formHeader1, #inpEmail
{
  top: 85px;
}

#formHeader2, #inpName
{
  top: 150px;
}

#formHeader3
{
  top: 230px;
}

#inpMessage
{
  top: 215px;
  resize: none;
}

.inpData
{
  position: absolute;
  text-align: center;
  font-size: 1.8em;
  left: 190px;
  width: 400px;
}

.inpRank, .inpData, #prevRank
{
  font-family: BebasNeueBold;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
}

.inpRank:focus, .inpData:focus, #prevRank:focus
{
  background-color: rgba(53, 197, 237, 1);
  box-shadow: 0 0 5px 5px rgba(53, 197, 237, 1);
}

.inpRank:hover, .inpData:hover, #prevRank:hover
{
  box-shadow: 0 0 5px 5px rgba(53, 197, 237, 1);
}

.checkReqiured
{
  display: block;
  position: absolute;
  font-size: 1.4em;
  text-align: center;
  width: 310px;
  color: #FFF;
}

#checkEmail
{
  top: 122px;
  left: 235px;
  display: none;
}

#checkEmailValidation
{
  top: 122px;
  left: 235px;
  display: none;
}

#checkFullName
{
  top: 187px;
  left: 235px;
  display: none;
}

.futterHeaders
{
  position: absolute;
  color: #000;
  width: 190px;
  top: 10px;
  text-align: center;
  font-size: 1.2em;
}

.futterEmailHeader, .futterEmail
{
  left: 10px;
}

.futterSkypeHeader, .futterSkype
{
  left: 200px;
}

/*.futterDiscordHeader, .futterDiscord
{
  left: 270px;
}*/

.futterText
{
  position: absolute;
  top: 30px;
  width: 190px;
  text-align: center;
  font-size: 1.2em;
  color: rgba(67, 72, 76, 1);
}

.rights
{
  position: absolute;
  color: #000;
  bottom: 10px;
  left: calc(50% - 150px);
  width: 300px;
  text-align: center;
}

.homeHref
{
  position: absolute;
  color: #000;
  top: 10px;
  width: 190px;
  text-align: center;
  right: 10px;
  font-size: 1.2em;
}

.owHref
{
  position: absolute;
  color: #000;
  top: 35px;
  width: 190px;
  text-align: center;
  right: 10px;
  font-size: 1.2em;
}

.antiDecayText
{
  font-size: 1.8em;
  color: #FFF;
  text-shadow: 0 0 5px #000;
  position: absolute;
  top: 35px;
  text-shadow: 0 0 5px #000;
  text-align: center;
  width: 300px;
  left: calc(50% - 150px);
}

.antiDecayImg img, .placementsFreshImg img
{
  position: absolute;
  width: 150px;
  top: 70px;
  display: block;
}

.placementsPrevImg img
{
  position: absolute;
  width: 110px;
  top: 70px;
  display: block;
}

#antiDecay5
{
  left: 50px;
}

#antiDecay6
{
  left: 250px;
}

#antiDecay7
{
  left: 450px;
}

.placementsPrevImg, .placementsFreshImg, #placementsPrice, #placementsOrderButton, #placementsGames
{
  display: none;
}

#prevRank
{
  font-family: BebasNeueBold;
  display: block;
  position: absolute;
  top: 35px;
  left: 100px;
  font-size: 2em;
  width: 450px;
  text-align: center;
}

#placementsFresh5
{
  left: 50px;
}

#placementsFresh6
{
  right: 50px;
}

#placementsPrev1
{
  left: 20px;
}

#placementsPrev2
{
  left: 60px;
}

#placementsPrev3
{
  left: 100px;
}

#placementsPrev4
{
  left: 140px;
}

#placementsPrev5
{
  left: 267px;
}

#placementsPrev6
{
  left: 394px;
}

#placementsPrev7
{
  left: 520px;
}

.changeBoost
{
  width: 150px;
  height: 95px;
  margin-top: 175px;
  background: url(img/doska.png) no-repeat;
  background-size: cover;
  position: relative; 
}

#changeBoostTextLeft, #changeBoostTextRight
{
  position: absolute;
  font-size: 2em;
  text-shadow: 0 0 5px #000;
  color: #FFF;
  width: 130px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  left: 10px;
  top: 30px;
}

.changeBoost:hover
{
  filter: drop-shadow(0 0 10px rgba(53, 197, 237, 1));
}

.changeBoost:active
{
  box-shadow: 0 0 5px 5px rgba(53, 197, 237, 1);
}

#leftChange
{
  float: left;
}

#rightChange
{
  float: right;
}

.perNGames
{
  position: absolute;
  font-size: 1.8em;
  text-shadow: 0 0 5px #000;
  color: #FFF;
  width: 130px;
  text-align: center;
  left: 260px;
  bottom: 105px;
}

#twitchBoard
{
  width: 800px;
  height: 500px;
}

#twitch
{
  position: absolute;
  top: 45px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 378px;
  width: 620px;
  border-radius: 15px;
  border: 5px solid rgba(53, 197, 237, 1);
}

.twitchText
{
  position: absolute;
  font-size: 2em;
  text-shadow: 0 0 5px #000;
  color: #FFF;
  width: 130px;
  text-align: center;
  left: 335px;
  top: 40px;
}