@font-face 
{
    font-family: Roboto_Bold;
    src: url(fonts/AvenirNext-DemiBold.ttf);
}

@font-face 
{
    font-family: Roboto_Medium;
    src: url(fonts/AvenirNext-Medium.ttf);
}

@font-face 
{
    font-family: Roboto_Regular;
    src: url(fonts/AvenirNext-Regular.ttf);
}

/* style reset */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
  list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
/*-------------*/

div
{
  position: relative;
  transition: 0.2s all;
}

div::selection, img::selection, input::selection
{
  background: #C33C3C;
  color: white;
}

body
{
  cursor: default;
  font-family: Roboto_Regular;
  color: #3A3A3A;
  overflow-x: hidden;
}

.bold 
{font-family: Roboto_Bold;}

.regular 
{font-family: Roboto_Regular;}

.medium 
{font-family: Roboto_Medium;}

.title
{font-size: 20px;}

.text 
{
  font-size: 18px;
  line-height: 20px;
}

.blockTitle
{
  overflow: hidden;
  font-size: 24px;
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-align: center;
}

.nav
{
  max-width: 1080px;
  width: calc(100% - 40px);
  height: 60px;
  margin: 0 auto;
}

.nav img
{
  height: inherit;
  float: left;
}

.nb1
{
  float: left;
}

.navButton, .nb1
{
  line-height: 60px;
  display: block;
  padding: 0 10px;
}

.navButton
{
  float: right;
  display: block;
  width: auto;
  height: inherit;
  z-index: 2;
}

.hoverLine
{
  position: absolute;
  width: 0%;
  left: 50%;
  background-color: white;
  height: 5px;
  z-index: 3;
  bottom: 0;
}

.hoverLineTop
{
  top: 0;
}

.navButton:hover
{
  color: #C33C3C;
}

.navButton:hover .hoverLine, .serviceBlock:hover .hoverLine
{
  width: 100%;
  left: 0%;
  background-color: #C33C3C;
}

.main 
{
  width: 100%;
  max-width: 1920px;
  height: 650px;
  margin: 0 auto;
  background-image: url("img/bg3.jpg");
  background-size: cover;
  background-position: center;
}

.inMain
{
  max-width: 1080px;
  width: calc(100% - 40px);
  height: inherit;
  margin: 0 auto;
}

.overwatch
{
  padding-top: 180px;
  font-size: 70px; 
  line-height: 80px;
  margin-bottom: 10px;
}

.inMainText
{
  width: 50%;
  display: block;
  margin-bottom: 25px;
}

.button 
{
  cursor: pointer;
  width: 160px;
  height: 30px;
  border: 5px solid #C33C3C;
  text-align: center;
  line-height: 32px;
  color: white;
  background-color: #C33C3C;
}

.button:hover
{
  background-color: white;
  color: #C33C3C;
}

.centerButton
{
  position: absolute;
  left: calc(50% - 85px);
  bottom: 30px;
}

.service .content
{
  width: 1080px;
  height: 400px;
  margin: 0 auto;
  z-index: 0;
}

.service .content:before 
{
  content: " ";
  position: absolute;
  width: 100vw;
  height: 320px;
  top: 40px;
  left: calc(540px - 50vw);
  z-index: 1;
  background-color: #EFE9DC;
}

.serviceBlock
{
  float: left;
  margin: 0 10px;
  width: calc(33.33% - 20px);
  height: inherit;
  z-index: 2;
  background-color: #F4f4f4;
}

.hoverLineGrey
{
    width: 100%;
    height: 5px;
    background-color: #E2E2E2;
}

.hoverLineGrey:after
{
    content: " ";
    width: 100%;
    height: 5px;
    background-color: #E2E2E2;
    position: absolute;
    top: 395px; 
} 

.serviceBlock img 
{
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 80%;
  margin: 0 auto;
}

.serviceBlock .text
{
  display: block;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.transparentLayer
{
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.contactWindow
{
    position: fixed;
    z-index: 10;
    width: 650px;
    height: 490px;
    background-color: white;
    border: 5px solid #C1A777;
    left: calc(50vw - 330px);
    top: calc(50vh - 250px);
}

.closeButton
{
    background-color: rgba(255, 255, 255, 1);
    right: -55px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -5px;
    border: 5px solid #C1A777;
    border-radius: 100px;
}

.closeButton:hover {background-color: rgba(255, 255, 255, 0);}
.closeButton img {width: inherit;}

.cWindowText
{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 44px;
    line-height: 25px;
}

.inpBlock
{
    height: 34px;
    width: 100%;
    margin-bottom: 36px;
}

.inpb2{height: 150px;}

.inpBlock .text 
{
    line-height: 40px;
    text-align: right;
    right: 500px;
}

.transparentLayer {display: none;}
.cw1 {display: none;}
.cw2 {display: none;}

.inputOutBlock
{
    position: absolute;
    right: 30px;
    top: 0;
    height: 100%;
    width: 460px;
}

.inpData
{
    text-align: left;
    height: calc(100% - 5px);
    resize: none;
    margin-top: 5px;
    font-family: Roboto_Regular;
    font-size: 18px;
}

textarea
{
    width: calc(100% - 4px);
    transition: 0.2s all;
    border: none;
    padding-top: 3px;
    box-shadow: 0 0 0 1px rgba(1,1,1,0.2);
}

textarea:focus
{
    outline: none;
    box-shadow: 0 0 0 2px rgba(193,167,119,0.9);
}

input    
{
    width: 100%;
    margin-top: 2px;
    transition: 0.2s all;
    border: none;
    box-shadow: 0 1px 0 0 rgba(1,1,1,0.2);
}

input:focus 
{
    outline: none;
    box-shadow: 0 2px 0 0 rgba(193,167,119,0.9);
}

.cw2 .cWindowText
{
	padding-bottom: 30px;
}

.boostInfoText
{
	text-align: center;
	margin-bottom: 5px;
}

.cw2 .inpBlock
{
	margin-bottom: 0;
}

.cw2 .inputOutBlock
{
	padding-top: 10px;
}

.backButton 
{
  cursor: pointer;
  width: 120px;
  height: 24px;
  border: 3px solid #C1A777;
  text-align: center;
  line-height: 26px;
  color: #C1A777;
  background-color: white;

  position: absolute;
  bottom: 35px;
  left: 55px;
}

.backButton:hover
{
  background-color: #C1A777;
  color: white;
}

.contentBlock
{
	padding-top: 20px;
}

.service
{
  padding-top: 0;
}

.rankBoost .content
{
	height: 370px;
	width: 100%;
}

.placements .content
{
  width: 100%;
  height: 400px;
}

.placements
{
  background-color: #EFE9DC;
}

.antidecay .content
{
  height: 400px;
  width: 100%;
}

.centerText
{
	text-align: center;
	width: 500px;
	display: block;
	margin: 0 auto;
}

.footer
{
  margin: 0;
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
  width: 100%;
  height: 130px;
  background-color: #EFE9DC;
}

.footer .content
{
  width: 1080px;
  margin: 0 auto;
  padding: 0;
  top: 20px;
}

.footer .text div
{
  display: block;
  padding-top: 8px;
}

.footer .text .bold
{
  float: left;
}

.rights
{
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 20px;
}

.rankBoostBlock
{
  width: 500px;
  height: 220px;
  margin: 0 auto;
  margin-top: 30px;
}

.curRank, .disRank
{
  width: 160px;
  height: 100%;
  position: absolute;
}

.disRank
{
  right: 0;
}

.rankBoostBlock .price
{
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px;
  font-size: 20px;
}

.rankText
{
  text-align: center;
}

.rankImg img 
{
  position: absolute;
  top: 10px;
  left: 20px;
  width: 120px;
}

.inpRank
{
  width: 100px;
  position: absolute;
  top: 150px;
  left: calc(50% - 50px);
  text-align: center;
  font-size: 20px;
  height: 25px;
  border: none;
  box-shadow: none;
  transition: 0.2s all;
  box-shadow: 0 0 0 1px rgba(1,1,1,0.2);
}

.inpRank:focus 
{
  outline: none;
  box-shadow: 0 0 0 2px rgba(193,167,119,0.9);
}

.arrows
{
  height: 60px;
  position: absolute;
  width: 20px;
  right: 0px;
  top: 60px;
}

.arrowUp
{
  width: 100%;
  height: 20px;
}

.arrowUpImg
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: 0.15s all;
}

.arrowUp:hover .hArrowUp
{
  height: 0%;
}

.arrowDown
{
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0;
}

.arrowDownImg
{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.15s all;
}

.arrowDown:hover .hArrowDown
{
  height: 0%;
}

.disRank .arrows
{
  left: 0;
}

.soloDuo
{
  width: 80px;
  height: 60px;
  position: absolute;
  top: 60px;
  left: calc(50% - 40px);
}

.soloDuo div
{
  position: absolute;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 100%;
  display: block;
}

.duo:hover, .solo:hover
{
  opacity: 1;
}

.duo
{
  bottom: 0;
  opacity: 0.6;
}

.chosen
{
  border-radius: 1.5px;
  transition: 0.3s all;
  background-color: rgba(193,167,119,0.9);
  top: 0;
}
